mixin checklist(title, items = [])
  .hpd-checklist(class=items.length > 0 ? 'is-active' : '')
    .hpd-checklist__header
      h3.hpd-checklist__title= title

    if items.length > 0
      .hpd-checklist__body
          .hpd-checklist__buttons
            each item in items
              a.hpd-checklist__button.is-auto(href="#")= item

mixin banner2(title, image)
  .hpd-banner
    .hpd-banner__container
      .hpd-banner__image
        img.hpd-banner__image-src(src=image alt="banner")
      .hpd-banner__content
        h2.hpd-banner__content-title= title


mixin banner(image, title, subtitle, color = 'is-red' | 'is-blue' | 'is-orange' | 'is-teal' | 'is-purple' | 'is-yellow', items = [], isCustom = false)
  .hpd-main-banner(class=color)
    .hpd-main-banner__content
      .hpd-main-banner__header(class=isCustom ? 'is-full' : '')
        h3.hpd-main-banner__title= title
        h4.hpd-main-banner__subtitle= subtitle

      if items && items.length > 0
        .hpd-main-banner__notices(class=isCustom ? 'is-full' : '')
          span.hpd-main-banner__badge お知らせ
          .hpd-main-banner__notices-list(class=isCustom ? 'is-full' : '')
            each item in items
              a.hpd-main-banner__notice(href=item.link || '#')
                .hpd-main-banner__notice-meta
                  span.hpd-main-banner__date= item.date
                .hpd-main-banner__notice-title= item.title
                span.hpd-main-banner__arrow >

    if isCustom
      .hpd-main-banner__custom-image
        if image
          img(src=image alt=title)
    else
      .hpd-main-banner__image
        if image
          img(src=image alt=title)

mixin sectionHeader(title, color = 'is-red', align = 'is-left')
  .hpd-section-header(class=color)
    h2.hpd-section-header__title(class=align)= title

mixin slider(slides = [])
  .hpd-slider
    button.hpd-slider__arrow.hpd-slider__arrow--prev(type='button' aria-label='Previous')
      <svg xmlns="http://www.w3.org/2000/svg" width="28.036" height="55.821" viewBox="0 0 28.036 55.821">
        <path id="Path_246" data-name="Path 246" d="M606.283,2589.166v.145l23.315,23.8-1.045,4.039-26.991-27.766v-.289l26.991-27.766,1.045,4.039Z" transform="translate(-601.562 -2561.328)" fill="#828282"/>
      </svg>


    .hpd-slider__container
      .hpd-slider__track
        each slide in slides
          .hpd-slider__slide
            .hpd-slider__image
              img(src='images/slide.png' alt=slide.title)
            .hpd-slider__content
              h3.hpd-slider__title= slide.title
              if slide.description
                p.hpd-slider__description= slide.description
              if slide.link
                a.hpd-slider__link(href=slide.link)
                  span= slide.linkText || '詳しくはこちら'

    button.hpd-slider__arrow.hpd-slider__arrow--next(type='button' aria-label='Next')
      <svg xmlns="http://www.w3.org/2000/svg" width="28.036" height="55.821" viewBox="0 0 28.036 55.821">
        <path id="Path_247" data-name="Path 247" d="M1988.475,2589.383l-26.991,27.766-1.045-4.039,23.315-23.8v-.145l-23.315-23.8,1.045-4.039,26.991,27.766Z" transform="translate(-1960.439 -2561.328)" fill="#828282"/>
      </svg>


    .hpd-slider__dots
      each slide, index in slides
        button.hpd-slider__dot(type='button' aria-label=`Slide ${index + 1}` data-slide=index)

mixin contactBox(title, link = '#', color = 'is-red')
  .hpd-contact-box(class=color)
    a.hpd-contact-box__link(href=link)
      span.hpd-contact-box__text= title

mixin breadcrumb(items = [])
  .hpd-breadcrumb
    .hpd-breadcrumb__container
      ol.hpd-breadcrumb__list
        each item in items
          li.hpd-breadcrumb__item
            a.hpd-breadcrumb__link(href=item.link)= item.title
          if item.separator
            span.hpd-breadcrumb__separator= item.separator
          else
            span.hpd-breadcrumb__separator >
          if item.current
            span.hpd-breadcrumb__current= item.current

mixin breadcrumb2(items = [])
  .hpd-breadcrumb2
    .hpd-breadcrumb2__container
      ol.hpd-breadcrumb2__list
        each item in items
          li.hpd-breadcrumb2__item
            if item.link
              a.hpd-breadcrumb2__link(href=item.link)= item.title
            else
              span.hpd-breadcrumb2__current= item.current
          if item.link
            span.hpd-breadcrumb2__separator >

mixin breadcrumb3(items = [], color = '')
  nav.hpd-breadcrumb(aria-label="Breadcrumb" class=color)
    .hpd-breadcrumb__container
      ol.hpd-breadcrumb__list
        each item in items
          li.hpd-breadcrumb__item
            if item.link
              a.hpd-breadcrumb__link(href=item.link)= item.title
            else
              span.hpd-breadcrumb__current= item.current
          if item.link
            span.hpd-breadcrumb__separator >

